.App {
  text-align: center;
  --working-colour: rgb(221, 155, 61);
  --break-colour: rgb(148, 203, 240);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle-button {
  border: 0;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: #f3e8d8;

}
